services:
  # --- POSTGRES DEV ---
  postgres:
    image: postgres:18-alpine
    container_name: fastify_pg_dev
    restart: unless-stopped
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=db
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - croche-network

  # --- POSTGRES TEST ---
  postgres_test:
    image: postgres:18-alpine
    container_name: fastify_pg_test
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=ecommerce_test
    ports:
      - "5433:5432"
    tmpfs:
      - /var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d ecommerce_test"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - croche-network

networks:
  croche-network:
    name: croche-network
    driver: bridge

volumes:
  pgdata_dev: