services:
  database:
    image: postgres:18-alpine
    container_name: fastify_pg_prod
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    healthcheck:
      # Verificação usando as credenciais que sabemos que funcionam (user/db)
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_net

  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: fastify_api_prod
    env_file:
      - ./server/.env
    environment:
      # --- AJUSTES CRÍTICOS ---
      - NODE_ENV=production
      # O Host aqui deve ser "database" (o nome do serviço definido na linha 2)
      - DATABASE_URL=postgresql://user:pass@database:5432/db?schema=public
    ports:
      - "3333:3333"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app_net

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: next_web_prod
    ports:
      - "3000:3000"
    env_file:
      - ./web/.env
    environment:
      - NODE_ENV=production
    depends_on:
      - api
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  pgdata_prod: