services:
  # --- POSTGRES DEV ---
  postgres:
    image: postgres:18-alpine
    container_name: fastify_pg_dev
    restart: unless-stopped
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 5s
      timeout: 5s
      retries: 5

  # --- POSTGRES TEST ---
  postgres_test:
    image: postgres:18-alpine
    container_name: fastify_pg_test
    env_file:
      - ./server/.env.test
    ports:
      - "5433:5432"
    tmpfs:
      - /var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d ecommerce_test"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata_dev:
