# Dependências
node_modules
**/node_modules

# Build outputs
dist
**/dist
coverage
.turbo
.tsbuildinfo
**/*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# VCS / IDE
.git
.github
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Docker / docs
docker-compose.yml
docker-compose.dev.yml
README.md
